.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
}
